.logo{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
   
}
.menu{
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}