header{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 60px;

}

p{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    width: 400px;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.white-button{
    background-color: white;
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 30px;
    height: 40px;
    margin-left: 20px;
    width: 200px;

}
.black-button{
    background-color: #23272a; 
    color: aliceblue;
    border: none; 
    font-size: 20px;
    border-radius: 30px;
    height: 50px;
    margin-left: 20px;
    width: 300px;
}
.hero-container{
    margin-left: 20px;
}